{% extends 'base.html.twig' %}

{% block title %}
    Wivet
{% endblock title %}

{% block body %}
    {# Exceldeki ilk satıra denk gelecek! #}

    <a href="/"></a>

    {# Exceldeki ilk satıra denk gelecek! #}


   Senin session id değerin! :  {{ session }}

    {{ data }}

    <a href="{{ path('core_common_test', {'token': data}) }}">Test</a>

{% endblock body %}