{% extends "base.html.twig" %}

{% block body %}
    Test case
{#Foreach loops for case#}
    <a id="Ky6tDTh8Lb" data-href="{{ path('core_common_test_success') }}" class="a_onclick">Test case</a>
{% endblock body %}

{% block javascripts %}
    <script>
        $(document).on('click','.a_onclick', function () {

            alert("Tıklandı");

            var element = $(this);

            var token = element.attr('id');
            var url = element.attr('data-href');


            $.ajax({
                url: url,
                data: "test_case_token="+token,
                type: 'post',
                dataType: 'json',
                success: function(response)
                {
                    console.log(response);
                }
            });

        });
    </script>
{% endblock javascripts %}